<div class="menu">
  <div class="menu__header">
    <span></span>
    <h1 class="menu__header__title mat-headline">Isabel Rovira</h1>
    <img src="assets/arrow.svg" style="width: 100%" (click)="closeMenu()">
  </div>
  <div class="menu__sides">
    <div class="menu__sides__desktop-image">
    </div>
    <mat-list class="menu__sides__navigation">
      <mat-list-item (click)="goToEditorial()"><a class="editorial">editorial</a></mat-list-item>
      <mat-list-item><a class="commercial">commercial</a></mat-list-item>
      <mat-list-item><a class="lifestyle">lifestyle & portraits</a></mat-list-item>
      <mat-list-item><a class="personal">personal</a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><a class="prints">prints</a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><a class="about">about me</a></mat-list-item>
    </mat-list>
  </div>
</div>
