<div class="menu">
  <div class="menu__header">
    <span></span>
    <h1 class="menu__header__title mat-headline">Isabel Rovira</h1>
    <img src="assets/arrow.svg" style="width: 100%" (click)="closeMenu()">
  </div>
  <div class="menu__sides">
    <div class="menu__sides__desktop-image">
    </div>
    <mat-list class="menu__sides__navigation">
      <mat-list-item (click)="goToEditorial()"><a class="mat-display-3 editorial uppercase">editorial</a></mat-list-item>
      <mat-list-item><a class="mat-display-3 commercial uppercase">commercial</a></mat-list-item>
      <mat-list-item><a class="mat-display-3 lifestyle uppercase">lifestyle & portraits</a></mat-list-item>
      <mat-list-item><a class="mat-display-3 personal uppercase">personal</a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><a class="mat-display-3 prints">prints</a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><a class="mat-display-3 about">about me</a></mat-list-item>
    </mat-list>
  </div>
</div>
