<div class="menu">
  <div class="menu__header">
    <span></span>
    <h1 class="menu__header__title mat-headline">Isabel Rovira</h1>
    <img src="assets/arrow.svg" style="width: 100%" (click)="closeMenu()">
  </div>
  <mat-list class="menu__navigation">
    <mat-list-item><a>editorial</a></mat-list-item>
    <mat-list-item><a>commercial</a></mat-list-item>
    <mat-list-item><a>lifestyle & portraits</a></mat-list-item>
    <mat-list-item><a>personal</a></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><a>prints</a></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><a>about me</a></mat-list-item>
  </mat-list>
</div>
