.single-post {
  display: grid;
  justify-content: center;
  margin: 16px;

  &__header {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;

    h1 {
      text-transform: uppercase;
      //TODO: use material font instead of this
      margin: 0;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }
  }

  &__properties {
    margin: 32px 0;
    text-align: right;
    p {
      margin: 0;
    }
  }

  &__content {
    display: grid;
    grid-gap: 15px;
    > span {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__content-1-column {
    grid-template-columns: 1fr;
  }

  &__content-2-column {
    grid-template-columns: 1fr 1fr;
  }
}
