<app-layout-one-column #layoutOneColumnComponent>
  <div app-layout-one-column-content *ngIf="this.project$ | async as project" class="single-post">
    <div class="single-post__header">
      <h1 class="mat-display-4">{{project.title}}</h1>
    </div>
    <div class="single-post__publication-logo">
      <p class="mat-headline">Published on</p>
      <img src="{{project.properties?.publication_logo_url}}"/>
    </div>
    <div class="single-post__properties" *ngIf="project.properties">
      <span class="mat-headline">
        <p *ngIf="project.properties?.client"><strong>Client:</strong> {{project.properties?.client}}</p>
        <p *ngIf="project.properties?.makeup_artist"><strong>Make-up artist:</strong> {{project.properties?.makeup_artist}}</p>
        <p *ngIf="project.properties?.publication"><strong>Publicación:</strong> {{project.properties?.publication}}</p>
      </span>
    </div>
    <div class="single-post__content"
         [class.single-post__content-1-column]="windowWidth <= 720"
         [class.single-post__content-2-column]="windowWidth > 720"
         (window:resize)="onWindowResize($event)">
    <span *ngFor="let image of project.images">
       <img [src]="image"/>
    </span>
    </div>
  </div>
</app-layout-one-column>

