.mat-toolbar {
  .mat-toolbar-row {
    margin: 16px auto;
  }

  .toolbar {
    &__title {
      margin: 0 auto;
      text-transform: lowercase;
      a {
        text-decoration: none;
        color: inherit;
      }
    }

    &__menu-button {
      a {
        display: grid;
        justify-content: center;
        width: 77px;

        img {
          width: auto;
        }
      }
    }

    &__spacer-right {
      width: 77px;
    }
  }
}
