.mat-toolbar {
  .mat-toolbar-row {
    margin: 16px auto;
  }

  .toolbar {
    &__title {
      margin: 0 auto;
      text-transform: lowercase;
      a {
        text-decoration: none;
        color: inherit;
      }
    }

    &__spacer-right {
      width: 77px;
    }
  }
}
