@import '~@angular/material/theming';

.mat-toolbar {
  .toolbar {
    &__title {
      margin: 0 auto;
      text-transform: lowercase;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
