<app-layout-two-columns *ngIf="(aboutPage$ | async) as aboutPage" class="about">
  <div app-layout-two-column-left-column class="about__left-column">
    <div style="" class="about__left-column__content">
      <h1 class="uppercase about__left-column__content__title only-mobile">
        <span>fashion</span>
        <br>
        <span>photo-</span>
        <br>
        <span>grapher</span>
      </h1>
      <ng-container *ngIf="(featuredImage$ | async) as featuredImage">
        <img style="" [attr.src]="featuredImage.source_url"/>
      </ng-container>
    </div>
  </div>
  <div app-layout-two-column-right-column class="about__right-column">
    <div style="" class="about__right-column__content">
      <h1 class="uppercase about__right-column__content__title only-desktop">
        <span>fashion</span>
        <br>
        <span>photo-</span>
        <br>
        <span>grapher</span>
      </h1>
      <div
        [innerHTML]="aboutPage.content.rendered"
        class="mat-h2 about__right-column__content__about-description">
      </div>
      <div class="about__right-column__content__social-links mat-h2">
        <a href="https://www.instagram.com/isabelrovirasalvador/">instagram</a>
        <span>/</span>
        <a href="mailto:isabelrovira.ph@gmail.com">email me</a>
      </div>
    </div>
  </div>
</app-layout-two-columns>
