.about {
  &__right-column {
    &__content {
      max-width: 47.46%;
      margin: 0 auto;
      min-width: 300px;

      &__title{
        margin: 0 auto;
        line-break: auto;
        font-size: 70px;
        line-height: 56px;
        text-align: center;
        font-weight: 500;
        max-width: 310px;
        font-family: orpheuspro;
        hyphens: manual;
        text-align: center;
      }

      &__title.only-mobile{
        position: absolute;
      }

      &__about-description {
        margin: 8px 16px;
      }

      &__social-links {
        display: grid;
        align-items: center;
        justify-content: center;
        justify-items: center;
        grid-template-columns: 48% 4% 48%;

        a {
          text-decoration: none;
          padding: 16px;
        }

        a:first-of-type {
          justify-self: end;
        }

        a:last-of-type {
          justify-self: start;
        }

        a:hover {
          background-image: url('/assets/hover-menu-dark.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
      }
    }
  }

  &__left-column {
    &__content {
      margin: 0 auto;
      min-width: 300px;

      img {
        display: block;
        margin: 0 auto;
        max-width: 45vw;
      }
    }
  }
}

@media all and (max-width: 960px){
  .about {
    &__right-column {
      &__content {
        max-width: 100%;

        &__title{
          width: 95vh;
        }
      }
    }

    &__left-column {
      margin-top: 48px;

      &__content {
        max-width: 100%;
        margin: 8px 16px;

        &__title{
          position: absolute;
          top: 96px;
          left: 50%;
          transform: translate(-50%, -50%);
          line-break: auto;
          font-size: 70px;
          line-height: 56px;
          text-align: center;
          font-weight: 500;
          max-width: 310px;
          font-family: orpheuspro;
          hyphens: manual;
          text-align: center;
        }

        img {
          max-width: 100%;
        }
      }
    }
  }

}
