@use '~@angular/material' as mat;

@mixin project-list-component($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .project-list {
    &__item {
      border-top-color: mat.get-color-from-palette($foreground, text);
      color: mat.get-color-from-palette($foreground, text);
    }
  }
}
