@import '~@angular/material/theming';

@mixin project-list-component($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .project-list {
    &__item {
      border-top-color: mat-color($foreground, text);
      color: mat-color($foreground, text);
    }
  }
}
