<div class="menu">
  <app-toolbar></app-toolbar>
  <div class="menu__sides">
    <div class="menu__sides__desktop-image">
    </div>
    <mat-list class="menu__sides__navigation">
      <ng-container *ngFor="let itemGroup of menuService.menuItemGroups">
        <mat-list-item class="uppercase" *ngFor="let item of itemGroup.menuItems">
          <h1 style="text-align: center; width: 100%;">
            <a
              class="mat-display-3 {{item.cssClass}} underlined"
              [class.uppercase]="item.uppercase"
              [class.lowercase]="!item.uppercase"
              [routerLink]="item.routerLink"
              [queryParams]="item.queryParams"
              [routerLinkActive]="'active'"
              [queryParamsHandling]="'merge'"
            >
              {{item.label | navigationLabel}}
            </a>
          </h1>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </div>
</div>
