@use '~@angular/material' as mat;

@mixin menu-component($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .menu {
    background-color: mat.get-color-from-palette($foreground, text);

    h1 {
      color: mat.get-color-from-palette($background, background);
    }

    .mat-dialog-container{
      border-color: mat.get-color-from-palette($foreground, text);
      background-color: mat.get-color-from-palette($foreground, text);
    }

    &__sides {
      &__navigation.mat-list {
        .mat-list-item {
          a {
            color: mat.get-color-from-palette($background, background);
            text-decoration: none;
          }

          a.underlined:hover {
            background-image: url('/assets/hover-menu-dark.svg');
            background-size: contain;
          }
        }

        .mat-divider {
          border-top-color: mat.get-color-from-palette($background, background);
        }
      }
    }

  }
}
