@use '~@angular/material' as mat;

@mixin menu-component($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .menu {
    &__sides {
      &__navigation.mat-list {
        .mat-list-item {
          a {
            color: mat.get-color-from-palette($foreground, text);
            text-decoration: none;
          }

          h1.underlined:hover,
          h1.underlined.active {
            word-break: keep-all;
          }
        }

        .mat-divider {
          border-top-color: mat.get-color-from-palette($foreground, text);
        }
      }
    }

  }
}
