<div class="menu">
  <app-toolbar></app-toolbar>
  <div class="menu__sides">
    <div class="menu__sides__desktop-image">
    </div>
    <mat-list class="menu__sides__navigation">
      <ng-container *ngFor="let itemGroup of menuService.menuItemGroups">
        <mat-list-item class="uppercase" *ngFor="let item of itemGroup.menuItems" [@fadeTransition]="true">
          <h1 class="underlined" style="text-align: center; width: 100%;">
            <a
              class="{{item.cssClass}} underlined"
              [class.mat-display-3]="!windowService.isMobile"
              [class.mat-display-1]="windowService.isMobile"
              [class.uppercase]="item.uppercase"
              [class.lowercase]="!item.uppercase"
              [routerLink]="item.routerLink"
              [queryParams]="item.queryParams"
              [class.active]="isMenuItemActive(item)"
              [queryParamsHandling]="'merge'"
            >
              {{item.label | navigationLabel}}
            </a>
          </h1>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </div>
</div>
