@import './_theme.scss';

$background: map-get($theme, background);

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: mat-color($background, background)
}

.menu-container .mat-dialog-container {
  margin: 0;
  padding: 0;
}
