@use '~@angular/material' as mat;
@import './_theme.scss';

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.menu-container .mat-dialog-container {
  margin: 0;
  padding: 0;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

@media all and (max-width: 960px){
  .only-desktop {
    display: none;
  }
}

@media all and (min-width: 960px){
  .only-mobile {
    display: none;
  }
}
